:root {
  --darkblue: #143447;
  --bluemid: #ACC8E5;
  --lightblue: #D6E5F5;
  --white: #F2F2F2;
  --transitionTime: 0.3s
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--darkblue);
  /* text-decoration: none; */
}

ul {
  list-style: none;
}

h1 {
  color: rgb(0, 122, 156);
}

/*////////////////////////////////////*/
/*////////////// HEADER //////////////*/
/*////////////////////////////////////*/
header {
  background-color: var(--darkblue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  display: flex;
  z-index: 5;


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2vw;
  }

  #search {
    max-width: 500px;
    width: 45%;
    position: relative;

    input {
      height: 40px;
      width: 100%;
      border-radius: 15px;
      padding: 10px;
      padding-left: 50px;
    }

    img {
      position: absolute;
      left: 10px;
      top: 10%;
      bottom: 10%;
      height: 80%;
    }
  }

  a {
    color: white;
  }

  #logo-container {
    img {
      height: 4vh;
      padding-right: 10px;
    }

    figure {
      display: flex;
      align-items: center;
    }
  }
}

/*////////////////////////////////////*/
/*/////////////// MAIN ///////////////*/
/*////////////////////////////////////*/
main {
  margin-top: 10vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;


  /*//////////// NAV LEFT ////////////*/
  #sideNav-left {
    position: fixed;
    top: 8vh;
    height: 92vh;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 75px 0 150px 0;
    width: 250px;
    background-color: var(--bluemid);

    nav {
      width: 80%;
    }

    #sideBar-categories {
      margin-top: 15px;



      #categoriesListContainer {
        display: flex;
        margin: 10px 0;

        #hrBar {
          width: 2px;
          height: auto;
          background-color: var(--darkblue);
          margin: 0 10px;
        }
      }

      li {
        padding-left: 15px;

        a {
          display: flex;
        }
      }

      #categoryIcone {
        width: 35px;
        text-align: end;
        padding-right: 10px;
      }
    }

    #community-activity {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100px;
      background-color: var(--lightblue);
    }
  }

  /*/////////// MAIN-WRAPPER ///////////*/
  #main-wrapper {
    width: 60%;
  }

  /*/////////// ASIDE RIGHT ///////////*/
  #layout-aside {
    position: fixed;
    top: 8vh;
    height: 92vh;
    right: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--lightblue);
  }
}


/*////////////////////////////////////*/
/*////////////// FOOTER //////////////*/
/*////////////////////////////////////*/
footer {
  background-color: var(--darkblue);
  position: relative;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;


  #footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #contact,
    #rules {
      padding: 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-bottom: 4px;
      }
    }
  }

  ul {
    display: flex;

    li {
      margin: 0 5px;
    }
  }

  * {
    color: var(--lightblue);
  }
}